{% extends 'eh_app/top-bar.html' %}

{% block content %}

  <div class="index-content">

    <div class="grid-list-header">
      <div>No. </div>
      <div>File Name </div>
      <div>Link/Files</div>
    </div>

    <div class="grid-list">
      <div>1</div>
      <div>Class Web Page</div>
      <div><a>Literally Here</a></div>
    </div>

    <!-- <h1>TESTING ON INDEX.HTML</h1>
    {% for student in students %}
      <h1> {{ student.first_name }} </h1> <br>
      <h1> {{ student.last_name }} </h1> <br>
    {% endfor %} -->
  </div>

{% endblock %}
