{% extends 'eh_app/top-bar.html' %}

{% block content %}
<div class="index-content">

  <div class="grid-list-header">
    <div>First Name </div>
    <div>Last Name </div>
    <div>UIN</div>
  </div>

  <!--------- This is how it should look after linking db data
  {% for student in students %}
    <div class="grid-list">
      <div>{{ student.first_name }}</div>
      <div>{{ student.last_name }}</div>
      <div>{{ student.uin }}</div>
    </div>
  {% endfor %}
  --------->

  <div class="grid-list">
    <div>Fake</div>
    <div>Data</div>
    <div>Not a UIN</div>
  </div>




</div>
{% endblock %}
