{% extends 'eh_app/top-bar.html' %}

{% block content %}
<div class="index-content">

  <div class="grid-list-header">
    <div>First Name </div>
    <div>Last Name </div>
    <div>UIN</div>
  </div>

  <div class="grid-list">
    <div>Fake</div>
    <div>Data</div>
    <div>Not a UIN</div>
  </div>

  <!-- <h1>TESTING ON INDEX.HTML</h1>
  {% for student in students %}
    <h1> {{ student.first_name }} </h1> <br>
    <h1> {{ student.last_name }} </h1> <br>
  {% endfor %} -->

</div>
{% endblock %}
